
<header>
        <nav style="background:linear-gradient(to right, #0c0e14, #1d1f24) !important" class="js-navbar-scroll navbar navbar-expand navbar-dark flex-column flex-md-row td-navbar">
        <a class="navbar-brand" title="The yEAh Docs" href="https://docs.yeahgames.net">
            <span class="navbar-logo"></span><img alt="yEAh Logo in red text" style="max-width:135px!important;padding-left:10px!important" src="https://cdn.yeahgames.net/img/branding/logos/text/red.png">&#160;<svg fill="#ff4747" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"><path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM169.8 165.3c7.9-22.3 29.1-37.3 52.8-37.3h58.3c34.9 0 63.1 28.3 63.1 63.1c0 22.6-12.1 43.5-31.7 54.8L280 264.4c-.2 13-10.9 23.6-24 23.6c-13.3 0-24-10.7-24-24V250.5c0-8.6 4.6-16.5 12.1-20.8l44.3-25.4c4.7-2.7 7.6-7.7 7.6-13.1c0-8.4-6.8-15.1-15.1-15.1H222.6c-3.4 0-6.4 2.1-7.5 5.3l-.4 1.2c-4.4 12.5-18.2 19-30.6 14.6s-19-18.2-14.6-30.6l.4-1.2zM224 352a32 32 0 1 1 64 0 32 32 0 1 1 -64 0z"/></svg></span>
	</a>
	<div class="td-navbar-nav-scroll ml-md-auto" id="main_navbar">
		<ul class="navbar-nav mt-2 mt-lg-0">{% if site.repo %}
			<li class="nav-item mr-4 mb-2 mb-lg-0">
                            <a class="nav-link" href="{{ site.repo }}" target="_blank"><span>GitHub</span></a>
			</li>{% endif %}{% for link in site.data.navigation %}
			<li class="nav-item mr-4 mb-2 mb-lg-0">
                            <a class="nav-link" href="{% if link.url %}{{ site.baseurl }}/{{ link.url }}{% else %}{{ link.external_url }}{% endif %}" ><span>{{ link.title }}</span></a>
			</li>{% endfor %}
      <li class="nav-item mr-4 mb-2 mb-lg-0">
        <a class="nav-link" href="https://www.yeahgames.net" ><span>Network</span></a>
</li>
      {% if site.version_params.versioning == true %}
      <!-- <li class="nav-item mr-4 mb-2 mb-lg-0"> -->
        {% if site.version_params.version_menu != '' %}
          <span class="nav-link ">{{site.version_params.version_menu}}:</span>
        {% endif %}
        <li class="nav-item dropdown d-none d-lg-block">
          <a style="font-weight:bold;color:#ff4747" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ currentpageversion }}</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            {% for version in site.version_params.versions %}
            {% capture civersion %}
              {{ version | downcase}}
            {% endcapture %}
              {% if version == site.version_params.latest %}
                <a class="dropdown-item" style="color:#ff4747!important" href="{{ site.baseurl }}{{ latestversion }}">{{version}}</a>
              {% else %}
                {% if site.version_params.version_dir != "" %}
                  {% assign versionlink = '/docs/' | append: site.version_params.version_dir | append: '/' | append: version | append: '/' %}
                {% else %}
                  {% assign versionlink = '/docs/' | append: version | append: '/' %}
                {% endif %}
                <a class="dropdown-item" href="{{ site.baseurl }}{{ latestversion | replace: '/docs/', versionlink }}">{{version}}</a>
              {% endif %}
            {% endfor %}
          </div>
        </li>
      <!-- </li> -->
      {% endif %}
		</ul>
	</div>
  
	<div class="navbar-nav d-none d-lg-block">
 <input type="search" class="form-control td-search-input" placeholder="&#xf002 Search the docs…" aria-label="Search the docs…" autocomplete="off">
        </div>

	<div class="navbar-nav d-none d-lg-block">
          <a class="gh-source" data-gh-source="github" href="{{ site.repo }}" title="Go to repository" data-md-state="done">
          <div class="gh-source__repository">
            <i class="fab fa fa-github fa-2x" style='padding-right:20px; float:left; margin-top:5px'></i>
            {{ site.github_user }}/{{ site.github_repo }}
          <ul class="gh-source__facts"><li class="gh-source__fact" id='stars'></li><li id="forks" class="gh-source__fact"></li></ul></div></a>
        </div>
      </div>




</nav>
</header>

<script>
$(document).ready(function() {
  var url = "https://api.github.com/search/repositories?q={{ site.github_user }}/{{ site.github_repo }}";
  fetch(url, { 
      headers: {"Accept":"application/vnd.github.preview"}
  }).then(function(e) {
    return e.json()
  }).then(function(r) {
     console.log(r.items[0])
     stars = r.items[0]['stargazers_count']
     forks = r.items[0]['forks_count']
     $('#stars').text(stars + " Stars")
     $('#forks').text(forks + " Forks")
  });
});
</script>
